<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webpack config</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js"></script>
</head>
<body>
    <div id="menu"></div>
    <div id="admin"></div> 
    <script>
        requirejs.config({
            paths:{
                'menu': 'dist/menu',
                'admin': 'dist/admin',
                'common': 'dist/common',                           
                'react': 'dist/vendors/react',
                'redux-saga':'dist/vendors/redux-saga',
                'react-redux': 'dist/vendors/react-redux',
                'react-router':'dist/vendors/react-router',
                'redux': 'dist/vendors/redux',
                'react-router-redux': 'dist/vendors/react-router-redux',
                'prop-types': 'dist/vendors/prop-types'
            }
        });
        require(['menu']);
        require(['admin']);     
    </script> 
</body>
</html>